fastapi
uvicorn
sqlalchemy
pydantic
bcrypt==4.0.1
passlib[bcrypt]
python-jose[cryptography]
python-multipart
python-dotenv
langchain
openai
faiss-cpu
pypdf
pdfplumber
langchain-community
langchain_groq
sentence-transformers
langchain-huggingface
boto3
botocore